.button{
    display: inline-block;
    padding: 9px 15px;
    font-size: 14px;
    text-align: centre;
    color: white;
    border: none;
}


#uploadButton
{
    background-color: #F26C23;
}


#cancelButton
{
    background-color: #2A888A;
    margin-right: 1em;
}
